@inherits LayoutComponentBase
@layout AppLayout
@using maximApp.SharedUI.Components.Layout


<div class="flex h-full">
    <aside class="w-64">
        <NavMenu />
    </aside>

    <main class="flex-1">
        @Body
    </main>
</div>