@page "/workspace/control-center"
@layout maximApp.Components.Layout.ControlCenterLayout

<h1>Control Center</h1>

<div class="p-10 text-3xl font-bold underline bg-yellow-200 rounded-xl">
    ✅ MAUI SharedUI Tailwind 測試
</div>


