@namespace maximApp.SharedUI.Components.Shell
@inherits LayoutComponentBase

<div class="h-screen w-screen overflow-hidden bg-slate-50 text-slate-900">
  <div class="h-14 border-b bg-white flex items-center">
    <TabsBarView />
  </div>

  <div class="h-[calc(100vh-56px)]">
    @Body
  </div>
</div>
