@font-face {
    font-family: "Noto Sans TC";
    src: url("../fonts/noto-sans-tc/NotoSansTC-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
