@page "/test"

<h1>SharedUI Test Page</h1>

<p>如果你看到這頁，代表 WebHost 已經成功吃到 SharedUI 的 Razor 頁面。</p>

<div class="p-4 border rounded-t-xl">
    這塊之後會用 Tailwind 測試
</div>

<div class="p-10 text-3xl font-bold underline bg-amber-300">
    Tailwind OK
</div>
