@page "/workspace/control-center"
@layout ControlCenterLayout

<h1>Control Center</h1>

<div class="p-10 text-3xl font-bold underline bg-yellow-200 rounded-xl">
    ✅ SharedUI Landing 有被載入（不是 WebHost / 不是 MAUI Host）
</div>
