@inherits LayoutComponentBase

<div class="flex flex-col">
    <div class="" role="tablist" aria-label="設定">
        <NavLink class=""
            href="/workspace/control-center"
            Match="NavLinkMatch.Prefix">
            控制中心
        </NavLink>

        <NavLink class=""
            href="/Workspace/DraftArtWork"
            Match="NavLinkMatch.Prefix">
            tab2
        </NavLink>
    </div>

    <main class="flex-1">
        @Body
    </main>
</div>
