@inherits LayoutComponentBase
@layout maximApp.Components.Layout.AppLayout

<div class="flex h-full">
    <aside class="w-64">
        <NavMenu />
    </aside>

    <main class="flex-1">
        @Body
    </main>
</div>